

h1 {
  text-align: center;
}

.x {
  color: #CE0D4A;
}

.o {
  color: #0D82CE;
}

.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  font-size: 4rem;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  margin: 0px 7px 7px 7px;
  
}

.square:hover {
  background-color: lightblue;
  transform: scaleY(1.2);
  transform: scaleX(1.1);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  position: relative;
  right: -20px;
  bottom: -50px;
  padding-bottom: 25px;
}

.button-container {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -50px;
}

button {
  border-radius: 10px;
  padding: 15px;
  background-color: #73C54B;
  border: 1px solid #73C54B;
  font-size: 15px;
  color: white;
  position: relative;
  bottom: -10px;
}

button:hover {
  background-color: #4BB4C5;
}

.status {
  text-align: center;
  font-size: 2em;
  position: relative;
  bottom: -20px;
}

.big-container {
  border: 1px solid black;
  margin: 0 auto;
  background-color: #C54E4B;
  border-radius: 10px;
  font-weight: bold;
  width: 440px;
}


footer {
  position: relative;
  bottom: -100px;
  text-align: center;
  color: black;
  font-weight: bold;
}


